@import './abstracts/vaiables';
@import './abstracts/mixins';
@import './abstracts/colours';

@import './base/settings';
@import './base/base';
@import './base/common';
@import './base/control';

@import './layouts/home';
@import './layouts/content';

@import './components/screens/screen';
@import './components/screens/graphScreen';
@import './components/screens/regression';
@import './components/screens/distributionScreen.scss';
@import './components/screens/settingScreen.scss';
@import './components/screens/interpreterScreen.scss';

@import './components/titlebar';
@import './components/sideMenu';
@import './components/home';
@import './components/graph';
@import './components/tab';
@import './components/grid';
@import './components/notification';

