.graph-screen {
    display: flex;

    &__panel {
        padding: 20px 10px;
        z-index: 2;
        min-width: 350px;
        background-color: rgb(253, 253, 253);
        margin-right: 0px;
        box-shadow: 0px 0px 15px 5px #e2e2e2;
        overflow-y: scroll;

        & svg {
            height: 25px;
            width: 25px;
            margin: 10px;
        }
    }

    &__graph {
        //background-color: yellowgreen;
        width: 100%;
    }

    &__header {
        position: fixed;
        top: 0;
    }
}

.line-item {
    //display: flex;
    width: 87%;
    margin: 20px 10px;
    align-items: center;
    padding: 10px;
    background-color: rgb(252, 252, 252);
    box-shadow: 0px 0px 10px 2px #eeeeee;
    
    &__colour {
        margin-right: 10px;
    }

    &__input {
        width: 190px;
        height: 40px;
        margin: 0px 10px;
        padding: 0px 10px;
        background-color: $grey-light;
        border: none;
        outline: none;
        //font-size: 1.6rem;
        &:focus {
            transition: .3s ease;
            background-color: $grey-medium;
        }
    }

    

    & svg {
        border-radius: 20%;
        //padding: 3px;
        height: 20px;
        width: 20px;
        margin: 5px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            transition: .2s ease;

            //background-color: $grey-medium;
        }

        &:active {
            transform: scale(0.9);
        }
        
        &--active {
            background-color: $grey-medium;
            &:hover {
                transform: scale(1);
            }
    
        }
    }

    &__gradient {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        -webkit-mask-size: 100% 50%;
        -webkit-mask-repeat: no-repeat;    
    }


    &__row {
        margin-bottom: 5px;
    }

    &:hover {
        transition: .3s ease;
        transform: scale(1.02);
        //background-color: $grey-dark;
    }
  
}

.hidden {
    transition: .5s ease;
    background-color: $grey-light;
    box-shadow: 0px 0px 5px 2px #eeeeee;
    filter: blur(1px);

}

.result-text { 
    margin-top: 20px;
    font-size: 1.2rem;

    &--disabled {
        color: $grey-dark;
    }
}