
.screen {
    max-height: 100%;
    width: 100%;
    display: grid;
    grid-template-columns: [panel-start] 350px [panel-end graph-start] 1fr [graph-end];
    grid-template-rows: calc(100vh - 50px);

    &__data {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__controls {
        display: flex;
        gap: 15px;
        margin: 15px;
    }

    &__panel {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;

        min-width: 350px;
        background-color: rgb(253, 253, 253);
        box-shadow: 0px 0px 15px 5px #e2e2e2;
        overflow: none;
        height: 100%;

    }

    &__graph {
        //background-color: yellowgreen;
        height: 100%;
        width: 100%;
        //overflow: hidden;
    }

    &__header {
        position: fixed;
        top: 0;
    }

    &__analyse-btn {
        position: fixed;
        bottom: 0px;
        left: $side-menu-size;
        height: 40px;
        min-width: 350px;
        padding: 10px;
        outline: none;
        border: none;
        transition: .2s ease;
        &--active {
            background: rgb(203, 228, 203);
            
            &:hover {
                background: rgb(189, 211, 189);
            }
            &:active {
                background: rgb(176, 194, 176);
            }
        }

        &--disabled {
            pointer-events: none;
        }
    }

    &__panel-content {
        padding: 10px;
        //overflow-y: scroll;
    }

    &__section {
        & hr {
            //margin: 30px;
        }

        & label {
            //margin-bottom: 10px;
            
            //background-color: green;
        }
    }
}

.line-item {
    //display: flex;
    margin: 20px 10px;
    align-items: center;
    padding: 10px;
    //background-color: rgb(250, 250, 250);
    box-shadow: 0px 0px 10px 2px #eeeeee;


    &__colour {
        margin-right: 10px;
    }

    &__input {
        width: 190px;
        height: 40px;
        margin: 0px 10px;
        padding: 0px 10px;
        background-color: $grey-light;
        border: none;
        outline: none;
        //font-size: 1.6rem;
        &:focus {
            transition: .3s ease;
            background-color: $grey-medium;
        }
    }

    

    & svg {
        border-radius: 20%;
        //padding: 3px;
        height: 20px;
        width: 20px;
        margin: 5px;
        cursor: pointer;
        &:hover {
            transform: scale(1.1);
            //background-color: $grey-medium;
        }

        &:active {
            transform: scale(0.9);
        }
        
        &--active {
            background-color: $grey-medium;
            &:hover {
                transform: scale(1);
            }
    
        }
    }

    &__gradient {
        -webkit-mask-image: linear-gradient(to bottom, rgba(0,0,0,1), rgba(0,0,0,0));
        -webkit-mask-size: 100% 50%;
        -webkit-mask-repeat: no-repeat;
    
    }

    &__remove {
    }


    &__hidden {
        height: 40px;
        width: 20px;
        margin: 100px;
    }
  
}

.line-variable-item {
    display: flex;
    flex-direction: column;

    &__value {
        display: flex;
        gap: 10px;
        align-items: center;
    }

    &__control {
        display: flex;
        justify-content: flex-end;
        align-items: center;
        gap: 10px;
        color: grey;
    }
}


.empty-entity {
    height: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    color: grey;
    

    &__add {
        height: 50px;
        width: 50px;
        fill: rgb(156, 156, 156);

        &:hover {
            //fill: $grey-dark;
        }

        &:active {
            //fill: $grey-darker;
        }


    }
}