* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Opne Sans', sans-serif;
    font-size: .9rem;
    //transition: .2s ease;
    user-select: none;


}

.root {
    height: 100%;
    width: 100%;
}

.body {    

    //display: flex;
    height: 100vh;
    width: 100vw;
    //background-color: #FBFBFB;
    overflow: hidden;

}

.content {
    margin-left: $side-menu-size;
    overflow-y: auto;
    height: calc(100vh - 50px);

        //background-color: lightgreen;

}


.app {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
   //overflow:hidden;
    display: grid;
    grid-template-columns: [app-sart] 1fr [app-end];
    grid-template-rows: [app-title-bar-start] $title-bar-size [app-title-bar-end app-content-start] 1fr [app-content-end];

    &__side-menu {
        z-index: 3;
    }

    &__screen {
        z-index: 2;

    }

    &__title-bar {
        z-index: 3;
        grid-column: app-start / app-end;
        grid-row: app-title-bar-start / app-title-bar-end;

    }



    &__content {
        overflow: none;
        //padding: 40px;
        //overflow-y: scroll;
        grid-column: app-start / app-end;
        grid-row: app-content-start / app-content-end;

        display: grid;
        grid-template-columns: [side-menu-start] $side-menu-size [side-menu-end screen-start] 1fr [screen-end];
        grid-template-rows: 1fr;



    }
}

.noScroll {
    height: 100%;
    overflow: hidden;    
}

.text {
    &--medium {
        font-size: 1.6rem;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    height: 1px;
    width: 90%;
    margin: 20px auto 10px;
    background-color: rgb(206, 206, 206);
    border: none;

}

.input-text {
    border: none;
    outline: none;
}


.icon--disabled {
    fill: $grey-dark;
}
