* {
    margin: 0;
    padding: 0;
    font-size: 62.5%;
    font-family: 'Opne Sans', sans-serif;
    font-size: .9rem;
    //transition: .2s ease;
    

}

.root {}

.body {    

    //display: flex;
    //height: 100%;
    //width: 100%;
    //background-color: #FBFBFB;
    overflow: hidden;

}

.content {
    margin-left: $side-menu-size;
    overflow-y: auto;
    height: calc(100vh - 50px);

        //background-color: lightgreen;

}

.noScroll {
    height: 100%;
    overflow: hidden;    
}

.text {
    &--medium {
        font-size: 1.6rem;
    }
}

.flex-row {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flex-col {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.divider {
    height: 1px;
    width: 90%;
    margin: 20px auto 10px;
    background-color: rgb(206, 206, 206);
    border: none;

}

.input-text {
    border: none;
    outline: none;
}


.icon--disabled {
    fill: $grey-dark;
}
