.link-undecorated {
    text-decoration: none;
    color: black;
}







.icon-button {
    height: 20px;
    width: 20px;
    transition: .2s ease;

    &--small {
        height: 15px;
        width: 15px;
    }

    &--large {
        height: 25px;
        width: 25px;
    }

    &:hover {
        cursor: pointer;
        transform: scale(1.1);

    }
    &:active {
        transform: scale(1);
    }
}



.center {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 50px;
  
}

.shadow {
    z-index: 3;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
}

.hide {
    display: none;
}


.input {

    &--text {
        width: 90%;
        padding: 15px;
        background-color: $grey-light;
        border: none;
        outline: none;
        padding: 15px;
        border-radius: 8px;
        color: rgb(80, 80, 80);

        &:focus {
            transition: .3s ease;
            background-color: $grey-medium;
        }
    }

    &--combobox {
        outline: none;
        border: none;
        background-color: $grey-light;
        padding: 10px;
        width: 100%;
        transition: .2s ease;
        padding: 15px;
        border-radius: 8px;
        color: rgb(80, 80, 80);

        &:hover {
            cursor: pointer;
            background-color: $grey-medium;

        }
        &:active {
            background-color: rgb(216, 216, 216);
        }
    }

    &--button {
        width: 100%;
        padding: 10px;
        border: none;
        outline: none;
        transition: .2s;

        &:hover {
            cursor: pointer;
            background-color: $grey-medium;

        }
        &:active {
            background-color: rgb(216, 216, 216);
        }

        &--active {
            background: rgb(203, 228, 203);
            
            &:hover {
                background: rgb(189, 211, 189);
            }
            &:active {
                background: rgb(176, 194, 176);
            }
        }
    }

    &--radio {

    }

    &--disabled {
        pointer-events: none;
    }
    
}

.label {
    &--text {
        display: flex;
        justify-content: space-between;
        align-items: center;
        outline: none;
        border: none;
        background-color: $grey-light;        
        max-width: 100%;
        transition: .2s ease;
        padding: 15px;
        border-radius: 8px;
        color: rgb(80, 80, 80);

        &:hover {
            cursor: pointer;
            background-color: $grey-medium;
            & svg {
                fill: rgb(80, 80, 80);
            } 
        }
        &:active {
            background-color: rgb(216, 216, 216);
        }

        & svg {
            transition: .2s ease;
            width: 15px;
            fill: rgb(190, 190, 190);
        } 
    }

    &--item {
        //font-weight: 600;
        color: rgb(80, 80, 80);
    }
}


.info-item {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 10px;   
    
    
    &--disabled {
        & * {
            color: rgb(206, 206, 206);
        }
        & .label--text, .input--text {
            background-color: rgb(245, 245, 245);
        }
        pointer-events: none;
    }
}



.sub-section {
    display: flex;
    width: 95%;
    gap: 20px;
    color: grey;
}


.input-model {

}


.mb--10 {
    margin-bottom: 10px;
}