.graph {
    position: relative;
    width: 100%;
    height: 100%;
    margin-left: 50px;
    margin-bottom: 50px;

    &__svg {
        overflow: hidden;
        font-size: 4rem;
        font-weight: 200;
        width: inherit;
        height: inherit;
        //background-color: bisque;
    
        &__axis {
            stroke: $grey-darker;
        }
    
        &__axis-grid  line {
            z-index: 3;
            stroke: rgb(225, 225, 225);
            stroke-width: 0.1rem;
        }
        &__axis-grid-point  line {
            z-index: 3;
            stroke: rgb(200, 200, 200);
            stroke-width: 0.1rem;
        }
    }

    &__info{
        position: absolute;
        bottom: 0px;
        font-size: 1.6rem;

        & span {
            margin-right: 10px;
        }
    }
}

.graph * {
    //transition: .2s ease;

}


.line {
    //stroke: #ef9a9a;
    stroke-width: 0.2rem;
}

.data {
    font-size: 2rem;
}

.graph-control {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    font-size: 2rem;
    z-index: 5;
    opacity: 50%;

    & span {
        margin-left: 35px;
    }

    &--button {
        position: absolute;

        margin: 10px;
        height: 30px;
        width: 30px;
        border-radius: 50%;
        background-color: $grey-medium;
        border: none;
        outline: none;
        font-family: 'Lora', serif;
        font-size: 1.6rem;       

        &:hover {
            transform: scale(1.1);
            background-color: $grey-dark;
        }

        &:active {
            transform: scale(0.95);
        }

        & svg {
            height: 10px;
            width: 10px;
        }
    }


    &--up {
        bottom: 45px;
        right: 25px;
    }

    &--down {
        bottom: -5px;
        right: 25px;
    }

    &--left {
        bottom: 20px;
        right: 50px;
    }
    
    &--right {
        bottom: 20px;
        right: 0px;
    }

    &--zoom-in {
        bottom: 35px;
        right: 25px;  
    }

    &--zoom-out {
        bottom: 0px;
        right: 25px;  
    }

    &__zoom {
        position: absolute;
        bottom: 90px;
        right: 0px
    }

    &__move {
        position: absolute;
        bottom: 0px;
        right: 0px
    }

    &:hover {
        opacity: 90%;
        & button {
            background-color: #ffa4a2;
        }
    }
}


.page {
    width: 100%;
    height: 100%;

}

.graph-point {
    fill: rgb(119, 82, 82);
}

.testSVG {
    //display: block;
    //width: 600px;
    //height: 600px;
    width: inherit;
    height: inherit;
    background: #ffffff;
    //overflow: hidden;
    transition: .1s;
  }
  
.myLine {
    z-index: 5;
}

  svg rect.selection {
    stroke: none;
  }
  

  .hover-line {
    stroke: #B74779;
    stroke-width: 2px;
    stroke-dasharray: 3,3;
  }

  .testsdiv
{
    width: 100%;
    height: 50px;
    background-color: orange; 
}  


.object-area {
    fill: #e49c9c;
    //stroke: #69b3a2;
}


.graph-busy {
    filter: blur(4px);
    pointer-events: none;

}