.testObj {
    width: 100%;
    //height: 100%;
    //background-color: lightcoral;
    padding: 30px;

    & h2 {
        font-family: 'Lora', serif;
        font-size: 2.4rem;
    }
}

.user-input {
    margin-top: 5px;
    display: flex;

    &--text {
        width: 300px;
        height: 50px;
        padding: 0px 10px;
        background-color: $grey-light;
        border: none;
        outline: none;
        font-size: 1.6rem;
        &:focus {
            transition: .3s ease;
            background-color: $grey-medium;
        }
    }

    &--button {
        display: flex;
        margin-left: 10px;
        background-color: $grey-medium;
        border: none;
        outline: none;
        font-family: 'Lora', serif;
        font-size: 1.6rem;
        transition: .2s ease;
        align-items: center;
        padding: 0px 10px;

        &:hover {
            transform: scale(1.1);
            background-color: $grey-dark;
        }

        &:active {
            transform: scale(0.95);
        }
    }
}

.response {
    margin-top: 30px;
    font-family: 'Lora', serif;
    font-size: 2.4rem
}

.container {
    margin-top: 50px;
    width:300px;
    height:30px;
  }
svg {


  }



.variable-input {
    margin-top: 35px;
    & span {
        font-size: 1.6rem;
    }

    & input {
        width: 50px;
    }
}
