.side-menu {
    //position: absolute;
    //height: calc(100vh - 50px);
    height: 100%;
    width: $side-menu-size;
    top: 50px;
    background-color: $grey-lighter;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    list-style-type: none;
    overflow: hidden;
    z-index: 2;

    li {

    }
    &__icon {        
        position: relative;
        height: 30px;
        width: 30px;
        padding: 15px;
        background-color: $grey-light;
        margin: 10px;
        border-radius: 50%;
        text-align: center;
        font-family: 'Lora', serif;
        //font-size: 1.6rem;
        transition: .2s ease;
        text-decoration: none;

        svg {
            height: 30px;
            width: 30px;    
        }

        div {
            position: absolute;
            background-color: rgb(228, 180, 221);
            color: black;
            border-radius: 50%;
            padding: 5px;
            right: 0px;
            height: 10px;
            width: 10px;
            font-size: .7rem;
            font-weight: bold;
        }

        &:hover {
            transform: scale(1.1);
            background-color: $grey-medium;
        }

        &:active {
            transform: scale(0.9);
        }
        
        &--active {
            background-color: $grey-medium;
            &:hover {
                transform: scale(1);
            }
    
        }
    }
}